.divPrincipal {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  min-height: 100%;
  margin: 0 auto; 
  width: 200px; 
  background-color: #00b0c778; 
  padding: 2px; 
  border-radius: 10px; 
}

.letra{
  color: #6CD25A;
}
